//Tipografia
$fuente_principal: 'Lexend', sans-serif;


//Medidas
$telefono:480px;
$tablet:992px;
$laptop:1280px;
$desktop:1440px;


//Colores
$naranja: #e8505b;
$rojo: rgb(189, 30, 89); 
$negro: #000000fc;
$blanco: #FFFFFF;
$gris: #686868;
$gris-Claro: #e1e1e1;
$trasparen:#ffffff00;
